@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.login {
  &__main {
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(8px);

    width: 200px;
    height: 100px;
    position: absolute;
    right: 100px;
    top: 90px;
    z-index: 300;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__form input {
    margin-top: 10px;
    width: 90%;
  }
  &__name,
  &__password {
    @include Montserrat_reg;
    font-size: 16px;
    line-height: 20px;
    height: 30px;
    width: 90%;
  }
  &__submit {
    background: $color;
    @include Montserrat_reg;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    color: $color_hover;
    border: none;
    border-radius: 3px;
  }
}
