@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.button {
  box-sizing: border-box;
  @include Montserrat_reg;
  text-transform: uppercase;
  width: 103px;
  height: 40px;

  font-size: 11px;
  line-height: 13px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  cursor: pointer;

  &--solid {
    background: $color;
    color: #fff;
  }

  &--outlined {
    background: transparent;
    border: 1px solid $color;
    color: $footer;
  }

  &--blurred {
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: $color_hover;
  }

  &:hover {
    transform: scale(1.1);
  }
}
