$color: #f4b02b;
$color1: #8f8d8a;
$footer: #202020;
$header_color: #1f271b;
$header_color1: #1f271b98;
$color_hover: #ffffff;
$footer1: rgba(255, 255, 255, 0.33);
$footer2: #172b85;
$footer3: #cbcbcb;
$contact: #e4e4e4;
