@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.tab {
  &__main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  &__card {
    height: 168px;
    width: 367px;
    background: url("BG__cardOffers.png") right no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__card:not(:last-child) {
    margin-right: 30px;
  }
  &__button {
    width: 116px;
    height: 43px;
    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    text-transform: uppercase;
    color: $color_hover;
    cursor: pointer;
  }
  &__leftSide {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__rightImg {
    width: 43px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("flag__vector.svg") center no-repeat;
    color: $color_hover;
    @include Montserrat_semibold;
    font-size: 16px;
    line-height: 102.4%;
    padding-bottom: 10px;
  }
}
@media (max-width: $xl) {
  .tab__card {
    margin-bottom: 20px;
  }
  .tab__card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: $lg) {
  .tab__card {
    height: 166px;
    width: 290px;
    margin-bottom: 9px;
  }
  .title__card {
    font-size: 19px;
    line-height: 102.4%;
    padding-bottom: 12px;
  }
  .tab__card:not(:last-child) {
    margin-right: 9px;
  }
}
@media (max-width: $md) {
  .tab__card {
    height: 164px;
    width: 228px;
    margin-bottom: 6px;
  }
  .title__card {
    font-size: 16px;
  }
  .tab__button {
    width: 102px;
  }
  .tab__card:not(:last-child) {
    margin-right: 7px;
  }
}
@media (max-width: $sm) {
  .title__card {
    font-size: 13px;
  }
  .tab__button {
    width: 85px;
    height: 30px;
  }
  .tab__card:not(:last-child) {
    margin-right: 7px;
  }
}
