@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.contact {
  // display: none;
  margin: 0 auto;
  //   &_style {
  //   }

  &__main {
    margin-left: 5%;
  }

  &__title {
    @include Montserrat_bold;
    font-size: 80px;
    line-height: 102.4%;
    color: $header_color;
    padding-top: 5%;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__form {
    width: 60%;
    @include Montserrat_reg;
    font-size: 16px;
    line-height: 20px;
    z-index: 100;
  }
  &__style::placeholder,
  &__text::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: $header_color1;
    padding-left: 2%;
  }
  &__text::placeholder {
    padding-top: 1%;
  }
  &__style {
    width: 763px;
    height: 59px;
    background: $contact;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-top: 3%;
  }
  &__text {
    width: 765px;
    height: 200px;
    background: $contact;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-top: 3%;
  }
  &__image {
    width: 40%;
    height: 619.46px;
    background: url("./BG_contact.png") center center no-repeat;
    background-size: contain;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  //   &__img {
  //   }
  &__button {
    width: 763px;
    height: 59px;
    background: $color;
    border: none;
    margin-top: 3%;
    @include Montserrat_semibold;
    font-size: 16px;
    line-height: 20px;
    color: $color_hover;
  }
  &__connect:not(:first-child) {
    margin-left: 3%;
  }
  &__connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 370px;
    height: 88px;
    left: 60px;
    top: 1002px;
    background: $color;
    border: none;
    margin-top: 3%;
    @include Montserrat_semibold;
    font-size: 18px;
    line-height: 22px;
    color: $color_hover;
  }
}
// .email {
// }
// .img {
//   &__email {
//   }
// }
// .tel {
//   &__email {
//   }
// }
// .adress {
//   &__email {
//   }
// }
@media (max-width: $xxl) {
}
@media (max-width: $xl) {
  .contact {
    &__form {
      width: 50%;
    }
    &__style {
      width: 90%;
      height: 59px;
    }
    &__text {
      width: 90%;
      height: 150px;
    }
    &__button {
      width: 90%;
      height: 59px;
    }
    &__image {
      width: 50%;
    }
    &__connect {
      width: 370px;
      height: 70px;
      font-size: 16px;
    }
    &__footer {
      width: 95%;
    }
  }
}
@media (max-width: $lg) {
  .contact {
    &__form {
      width: 100%;
    }
    &__body {
      background: url("./BG_contact.png") center no-repeat;
      background-size: contain;
    }
    &__image {
      display: none;
    }
    &__footer {
      width: 90%;
    }
    &__title {
      font-size: 60px;
      text-align: center;
    }
  }
}
@media (max-width: $md) {
  .contact {
    &__form {
      width: 100%;
    }
    &__body {
      background: url("./BG_contact.png") center no-repeat;
      background-size: contain;
    }
    &__image {
      display: none;
    }
    &__title {
      font-size: 40px;
    }
    &__style {
      width: 90%;
      height: 59px;
    }
    &__text {
      width: 90%;
      height: 150px;
    }
    &__button {
      width: 90%;
      height: 59px;
    }
    &__connect {
      width: 370px;
      height: 70px;
      font-size: 16px;
    }
    &__footer {
      width: 90%;
    }
  }
}
@media (max-width: $sm) {
  .contact {
    &__connect {
      height: 59px;
      font-size: 10px;
    }
  }
}
