@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.product-card-h {
  height: 168px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  &__main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  &__leftSide {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__rightImg {
    width: 43px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("flag__vector.svg") center no-repeat;
    color: $color_hover;
    @include Montserrat_semibold;
    font-size: 16px;
    line-height: 102.4%;
    padding-bottom: 10px;
  }

  &__title {
    @include Montserrat_bold;
    font-size: 22px;
    line-height: 102.4%;
    color: $color_hover;
    padding-bottom: 12px;

    @media (max-width: $lg) {
      font-size: 19px;
      line-height: 102.4%;
      padding-bottom: 12px;
    }

    @media (max-width: $md) {
      font-size: 16px;
    }

    @media (max-width: $sm) {
      font-size: 13px;
    }
  }
}
