@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.header {
  height: 750px;

  &__main {
    height: 650px;
    background: url("./BG_second_img.png") center right no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    margin: 40px 150px 0 60px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    margin-top: 5.5%;
    color: $header_color;
  }
  &__title {
    width: 50%;
    @include Montserrat_bold;
    font-size: 80px;
    line-height: 102.4%;
  }
  &__text {
    @include Montserrat_reg;
    font-size: 18px;
    line-height: 22px;
    margin: 4% 1% 6%;
    width: 46%;
  }
  &__right {
    width: 50%;
  }

  &__body {
    height: 750px;
  }
}
.header__content {
  position: relative;
}
button {
  width: 144px;
  height: 48px;
  border: 2px solid #f4b02b;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: $xxl) {
  .header {
    &__title {
      width: 65%;
      font-size: 80px;
    }
    &__text {
      width: 50%;
    }
  }
}
@media (max-width: $xl) {
  .header {
    height: 600px;
    &__main {
      height: 550px;
      margin: 0 140px 0 60px;
    }
    &__title {
      width: 50%;
      font-size: 67px;
    }
    &__text {
      width: 45%;
      font-size: 18px;
    }
  }
}
@media (max-width: $lg) {
  .header {
    height: 430px;
    &__main {
      height: 430px;
      background-size: 40%;
      margin: 0 73px 0 60px;
    }
    &__title {
      width: 50%;
      font-size: 59px;
    }
    &__text {
      width: 54%;
      font-size: 16px;
    }
  }
  .slide__1 {
    display: none;
  }
}
@media (max-width: $md) {
  .header {
    height: 400px;
    &__main {
      height: 370px;
      background-size: 42%;
      margin-right: 19px;
    }
    &__title {
      width: 50%;
      font-size: 48px;
    }
    &__text {
      width: 51%;
      font-size: 16px;
    }
  }
  button {
    width: 120px;
    height: 40px;
    font-size: 15px;
  }
}
@media (max-width: $sm) {
  .header {
    height: 400px;
    &__main {
      background-size: 40%;
      margin: 0 0 0 60px;
    }
    &__title {
      width: 50%;
      font-size: 37px;
    }
    &__text {
      width: 56%;
      font-size: 12px;
    }
  }
  button {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
}
