@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.subscrible {
  margin: 0 auto;
  &__form {
    width: 413px;
    display: flex;
    flex-direction: column;
    @include Montserrat_medium;
    font-size: 18px;
    line-height: 102.4%;
  }
  &__block {
    display: flex;
  }
  &__input {
    width: 100%;
    height: 69px;
    background: rgba(255, 255, 255, 0.11);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 5px 0 0 5px;
    border: none;
  }
  &__input::placeholder {
    @include Montserrat_medium;
    font-size: 18px;
    line-height: 102.4%;
    color: rgba(255, 255, 255, 0.26);
    padding-left: 6.4%;
  }
  &__submit {
    width: 189px;
    height: 69px;
    @include Montserrat_medium;
    font-size: 18px;
    line-height: 102.4%;
    background: #f4b02b;
    border-radius: 0px 5px 5px 0px;
    border: none;
    z-index: 100;
  }
}
.error__email {
  @include Montserrat_medium;
  width: 68%;
  font-size: 15px;
  line-height: 10px;
  text-transform: uppercase;
  color: #ff0000;
  text-align: center;
  padding: 10px 0;
  background: $error_bg;
  // backdrop-filter: blur(22px);
  border-radius: 4px;
}
@media (max-width: $xxl) {
}
@media (max-width: $xl) {
}
@media (max-width: $lg) {
  .subscrible {
    &__title {
      font-size: 50px;
    }
    &__text {
      width: 88%;
      font-size: 16px;
      letter-spacing: 1px;
    }
    &__image {
      height: 479.88px;
      background-size: contain;
    }
  }
}
@media (max-width: $md) {
  .subscrible {
    &__title {
      font-size: 50px;
    }
    &__main {
      height: 350px;
    }
    &__left {
      width: 48%;
      padding-left: 50px;
      padding-top: 40px;
    }
    &__text {
      width: 92%;
      font-size: 16px;
      letter-spacing: 1px;
      padding: 15px 0 65px;
    }
    &__image {
      height: 429.88px;
      background-size: contain;
    }
  }
}
@media (max-width: $sm) {
  .subscrible {
    &__text {
      width: 130%;
    }
  }
}
