@import "../../styles/color";
@import "../../styles/breakpoint";
@import "../../styles/font";

.products {
  &__work {
    // display: none;
    margin: 0 auto;
  }
  &__workMAin {
    display: none;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
  }
  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  &__item {
    width: 135px;
    height: 135px;
  }
  &__item:not(:first-child) {
    margin-left: 6%;
  }
  &__title {
    @include Montserrat_bold;
    font-size: 60px;
    line-height: 102.4%;
    text-align: center;
    color: #1f271b;
    padding: 5% 0;
  }
}
.item {
  &__1 {
    background: url("./products_work1.png") center center no-repeat;
  }
  &__2 {
    background: url("./products_work2.png") center center no-repeat;
  }
  &__3 {
    background: url("./products_work3.png") center center no-repeat;
  }
  &__4 {
    background: url("./products_work4.png") center center no-repeat;
  }
  &__5 {
    background: url("./products_work5.png") center center no-repeat;
  }
}
@media (max-width: $xxl) {
}
@media (max-width: $xl) {
  .products__title {
    font-size: 55px;
  }
}
@media (max-width: $lg) {
  .products {
    &__title {
      font-size: 45px;
    }
    &__item {
      width: 110px;
      height: 110px;
      background-size: contain;
    }
  }
}
@media (max-width: $md) {
  .products {
    &__title {
      font-size: 36px;
    }
    &__item {
      width: 100px;
      height: 100px;
      background-size: contain;
    }
  }
}
@media (max-width: $sm) {
  .products {
    &__title {
      font-size: 25px;
    }
    &__item {
      width: 90px;
      height: 90px;
      background-size: contain;
    }
  }
}
